body{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

@media only screen and(max-width: 600px) {
  .background-container {
    position: fixed;
    background-image: url('computer-desk-coffe.jpg');
    background-size: 100% 100%;
    filter: brightness(0.3);
    z-index: -10;
    width: 100%;
    
  }

}

.background-container {
  position: fixed;
  background-image: url('computer-desk-coffe.jpg');
  background-size: cover;
  filter: brightness(0.3);
  z-index: -10;
  width: 100%;
  height: 950px;


}

  .background-container-before{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;


  }
header{
  display: flex;
  background-color: rgb(71, 71, 156);
  color: white;
  margin-top: 0px;
  padding: none;
  align-items: center;
  justify-content: center;
  height: 70px;
  text-align: center;

}

.header-left{
    width: 10%;
}

.header-fill{
    width: 70%;
}

ul.navv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

  ul.navv li {
    float: left;
    margin: none;
    font-size: 25px;
    cursor: pointer;
  } 

  
  ul.navv li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navv li a:hover {
    background-color:  rgb(57, 57, 115);
    color: white
  }

.header-left{
  width: 20%;
  display: flex;
  float: right;
  font-size: 22px;
}

.page-section{
  position: fixed;
  color: white;
  z-index: -1;
  width: 100%;
}

.page-div{    
  padding-left: 10%;
  padding-right: 20%;
  align-items: center;
  height: 950px;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
    
}

h1{
  color: white; 
  font-size: 70px;
}

p{
  font-size: 20px;
  font-weight: lighter;
    
}

.websiteBtn{
  background-color: rgb(71, 71, 156) ;
  height: 50px;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  height: 60px;
  color: white;
  font-size: 25px;
  font-family: 'Roboto', serif;
  margin-right: 10px;
}

.websiteBtn:hover{
  border: 3px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.hireBtn{
  background-color: rgb(94, 94, 95) ;
  height: 50px;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  height: 60px;
  color: white;
  font-family: 'Roboto', serif;
  font-size: 25px;
}

.hireBtn:hover{
  border: 3px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.card{
  height: 400px;
  width: 400px;
  background-color: white;
  box-shadow: #d5d5d5;
  z-index: -1;
  margin-bottom: 4%;
  cursor: pointer;
}

ul.dropdown {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(71, 71, 156);
}

li:hover ul.dropdown {
  display: block;
  position: absolute;
  width: 170px;
  background-color: rgb(71, 71, 156);
  z-index: 30;
}
